/* reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

p {
    padding: 15px 0;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
}

/* roots */
:root {
	--blue: #0061ff;
	--light-blue: #b4d0e7;
	--light-gray: #f5f5f5;
	--black: #000000;
	--white: #ffffff;
}

/* container */

.container-full {
	max-width: 100%;
	margin: 0 auto;
}

.container-small {
	max-width: 1000px;
	margin: 0 auto;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	row-gap: 50px;
}

/* navbar header */

.row > * {
	padding: 0px 25px;
}

.row.no-gutter > * {
	padding: 0px;
}

.navbar .row>* {
	padding: 8px;
}

.logo {
	display: block;
}

.main-header {
	padding: 18px 14px;
	font-size: 14px;
}

.navbar .row {
	align-items: center;
	justify-content: space-between;
}

.navbar .menu {
	display: flex;
	align-items: center;
}

.navbar .menu a {
	display: block;
	line-height: 34px;
	padding: 0px 16px;
}

.navbar .menu a:not(.btn):hover {
	color: var(--blue);
}

.navbar .menu .logo-wrapper {
	padding-left: 0;
}

.btn-sm {
	display: inline-block;
	background-color: var(--blue);
	color: var(--white);
	line-height: 25px;
	padding: 0px 10px;
	text-align: center;
}

/* colonne */

.col-12 {
	width: 100%;
}

.col-4 {
	width: calc(4 * 100% / 12);
}

.col-8 {
	width: calc(8 * 100% / 12);
}

/* layout-1
hero */

.hero {
	background-color: var(--light-blue);
	padding-top: 80px;
	padding-bottom: 20px;
}

.hero-title {
	font-size: 70px;
}

.hero .row + .row {
	margin-top: 40px;
}

.hero-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: flex-start;
}

.hero-icon {
	font-size: 50px;
	margin-top: auto;
}

.btn {
	display: inline-block;
	background-color: var(--blue);
	color: var(--white);
	line-height: 44px;
	padding: 0px 16px;
	text-align: center;
}

/* layout-2
card */

.plans-title {
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 30px;
}

.actions > * {
	padding: 5px 15px;
	font-size: 12px;
}


.col-1 {
    text-align: center;
	font-size: 12px;
	padding: 10px 20px;
	border-bottom: 1px solid rgb(168, 168, 168);
}

.col-4.card {
    border: 1px solid rgb(168, 168, 168);
	font-size: 12px;
}

